body {
    font-family: arial;
    color: mediumblue;
}

.hello {
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
}

.li {
    color: rgb(151, 78, 10);
    font-family: Arial, Helvetica, sans-serif;
}

.paragraf {
    font-family: sans-serif;
    color: saddlebrown;
}

.header-logo {
    font-family: initial;
    color: mediumblue;
    font-size: x-large;
}

.li2 {
    list-style: none;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
}